{% extends ':Frontend:layout_secure.html.twig' %}

{% block title %}{{ 'front.title.products' | trans | title }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                {% for product in products %}
                    {% if loop.index % 3 == 1 %}
                        {% include ':Frontend/includes:masonry-item-thumbnail.html.twig' with {item: product} %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                {% for product in products %}
                    {% if loop.index % 3 == 2 %}
                        {% include ':Frontend/includes:masonry-item-thumbnail.html.twig' with {item: product} %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                {% for product in products %}
                    {% if loop.index % 3 == 0 %}
                        {% include ':Frontend/includes:masonry-item-thumbnail.html.twig' with {item: product} %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include ':Frontend/includes:paginator-button-bar.html.twig' with {items: products} %}
    </div>
{% endblock %}

{% block languages %}
    {% include ':Frontend/includes:language-selector.html.twig' with {route: 'app_product_list', params: {}} %}
{% endblock %}
