{% extends ':Frontend:layout_secure.html.twig' %}

{% block title %}{{ 'front.title.products' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            {% for product in products %}
                {% include ':Frontend/includes:item-thumbnail.html.twig' with {route:'app_product_detail', item: product} %}
            {% endfor %}
        </div>
        {% include ':Frontend/includes:paginator-button-bar.html.twig' with {items: products} %}
    </div>
{% endblock %}

{% block languages %}
    {% include ':Frontend/includes:language-selector.html.twig' with {route: 'app_product_list', params: {}} %}
{% endblock %}
