{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="text-center row">
            <div class="col-md-4">
                <div class="title">
                    <h3>hidraulica</h3>
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-right menu">
                    <button type="button" class="btn btn-default" aria-label="Justify Align">
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row bc-brown">
                <div class="text-center">
                    <img src="{{ asset('bundles/app/images/head.jpg') | imagine_filter('2400xY') }}" class="img-responsive center-block" alt="{{ 'frontend.index.main.image' | trans | capitalize }}">
                </div>
            </div>
        </div>

        <div class="work"></div>
        <div class="footer"></div>
    </div>
{% endblock %}
{% block stylesheets %}
{% endblock %}
