{% extends ':Frontend:layout_secure.html.twig' %}

{% block title %}{{ 'front.title.contact' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ 'front.title.contact' | trans }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block languages %}
    {% include ':Frontend/includes:language-selector.html.twig' with {route: 'app_contact', params: {}} %}
{% endblock %}
