{% extends ':Frontend:layout.html.twig' %}

{% block main %}
    <div class="container-fluid">
        <div class="text-center row">
            <div class="col-xs-12">
                <div class="title">
                    <h1 class="text-hide extra-m-top">{{ project_title }}</h1>
                    <h3 class="text-hide">Interiorisme, disseny de mobiliari i arquitectura efímera</h3><br><br>
                    <img src="{{ asset('bundles/app/images/banner.png') }}" alt="{{ project_title }} Interiorisme, disseny de mobiliari i arquitectura efímera">
                    <h6><i class="fa fa-envelope"></i> <a href="mailto:hola@hidraulicadisseny.com" class="c-black">hola@hidraulicadisseny.com</a></h6>
                    <h6><i class="fa fa-facebook-official"></i> <a target="_blank" href="https://www.facebook.com/hidraulicadisseny" class="c-black"> facebook</a></h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
