{% extends ':Frontend:layout.html.twig' %}

{% block main %}
    <div class="container-fluid">
        <div class="text-center row">
            <div class="col-xs-12">
                <div class="title">
                    <h1>{{ project_title }}</h1>
                    <h3 class="c-lblue">Interiorisme, disseny de mobiliari i arquitectura efímera</h3><br><br>
                    <h6><i class="fa fa-envelope"></i> <a href="mailto:hola@hidraulicadisseny.com" class="c-black">hola@hidraulicadisseny.com</a></h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
