{% extends ':Frontend:layout.html.twig' %}

{% block footer %}
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <a href="mailto:hola@hidraulicadisseny.com">hola@hidraulicadisseny.com</a>
            </div>
            <div class="col-xs-9 text-right">
                <a target="_blank" href="https://www.facebook.com/hidraulicadisseny">facebook</a>, <a target="_blank" href="https://www.behance.net/hidraulicadisseny">behance</a>, <a target="_blank" href="https://es.pinterest.com/hidraulicadis/">pinterest</a>, <a target="_blank" href="https://vimeo.com/hidraulica">vimeo</a>
            </div>
        </div>
    </div>
{% endblock %}
