{% extends ':Frontend:layout_secure.html.twig' %}

{% block body_class %}no-gap{% endblock %}

{% block main %}
    {% if slides | length == 1 %}
        {% set slide = slides[0] %}
        <div class="homepage jumbotron" style="background-image: url('{{ vich_uploader_asset(slide, 'imageFile') }}')">
            <div class="container">
                <div class="hero"></div>
            </div>
        </div>
    {% elseif slides | length > 1 %}
        <div id="my-hero-carousel" class="carousel fade-carousel slide" data-ride="carousel" data-interval="3000">
            {#<!-- Overlay -->#}
            <div class="overlay"></div>
            {#<!-- Indicators -->#}
            <ol class="carousel-indicators">
                {% for slide in slides %}
                    <li data-target="#my-hero-carousel" data-slide-to="{{ loop.index - 1 }}"{% if loop.first %} class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            {#<!-- Wrapper for slides -->#}
            <div class="carousel-inner" role="listbox">
                {% for slide in slides %}
                    <div class="item slides{% if loop.first %} active{% endif %}">
                        <div class="slide-{{ loop.index - 1 }}" style="background: url('{{ vich_uploader_asset(slide, 'imageFile') }}') no-repeat center center fixed;background-size: cover"></div>
                        <div class="hero"></div>
                    </div>
                {% endfor %}
            </div>
            {#<!-- Controls -->#}
            {#<a class="left carousel-control" href="#my-hero-carousel" role="button" data-slide="prev">#}
                {#<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>#}
                {#<span class="sr-only">Previous</span>#}
            {#</a>#}
            {#<a class="right carousel-control" href="#my-hero-carousel" role="button" data-slide="next">#}
                {#<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>#}
                {#<span class="sr-only">Next</span>#}
            {#</a>#}
        </div>
    {% endif %}
    {% if thumbs | length > 0 %}
        <div class="container">
            <div class="row">
                {% for thumb in thumbs %}
                    {% include ':Frontend/includes:item-thumbnail.html.twig' with {item: thumb} %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block languages %}
    {% include ':Frontend/includes:language-selector.html.twig' with {route: 'app_homepage', params: {}} %}
{% endblock %}
