{% extends ':Frontend:layout_secure.html.twig' %}

{% block title %}{{ 'front.title.works' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            {% for work in works %}
                {% include ':Frontend/includes:item-thumbnail.html.twig' with {item: work} %}
            {% endfor %}
        </div>
        {% include ':Frontend/includes:paginator-button-bar.html.twig' with {items: works} %}
    </div>
{% endblock %}

{% block languages %}
    {% include ':Frontend/includes:language-selector.html.twig' with {route: 'app_work_list', params: {}} %}
{% endblock %}
