<a href="{{ path(route, {_locale: 'ca'} | merge(params)) }}">ca</a> | <a href="{{ path(route, {_locale: 'es'} | merge(params)) }}">es</a> | <a href="{{ path(route, {_locale: 'en'} | merge(params)) }}">en</a>
