{% if items.getTotalItemCount > constant('AppBundle\\Controller\\Frontend\\WebController::DEFAULT_PAGINATION') %}
    <div class="row">
        <div class="col-xs-12">
            <div class="navigation text-center">
                {{ knp_pagination_render(items) }}
            </div>
        </div>
    </div>
{% endif %}
